@use "../../sass/utilities/colorVariables.scss" as color;

.button {
  font-size: 1.7rem;
  border: 0;
  cursor: pointer;
  font-family: inherit;
  display: flex;
  padding: 1rem 2rem;

  &:hover {
    opacity: 0.8;
  }

  &--primary {
    background-color: color.$base-color-dark;
    color: color.$base-color-light;
    border-radius: 1.7rem;
  }

  &--secondary {
    background-color: transparent;
  }
}
