@use "../sass/utilities/colorVariables.scss" as color;

.container {
  padding: 3rem 6rem 0rem 6rem;
  display: flex;
  flex-direction: column;
  min-height: 95vh;

  &__footer {
    margin-top: auto;
    text-align: center;
    padding: 1rem;
    border-top: 1px solid color.$base-color-dark;
  }
}
